.footer {
    padding-bottom: 3rem;
    background-color: #001130;
    width: 100%;
    color: #fff;
    text-align: center
}

.map { margin-bottom: 1rem }

.map iframe { border: 0; width: 100% }

.footer img { max-width: 15vw; height: auto; margin: 1rem 0 }

.footer h6 { font-size: .8rem }


.social ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    max-width: calc(2.5rem * 6);
    margin: 1rem auto 0;
    padding: 0
}

.social ul a li {
    display: inline-block;
    max-width: 80px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social ul a {
    text-decoration: unset;
}

.social ul a:hover { color: #fff }

.social ul li:hover { 
    border-color: #001130;
    background: #002e83;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    transform: scale(1.2);
 }