.overview, .our_value, .our_services, .free_service, .testemonials, .whattheysay, .members { padding: 5rem 0 0 0 } /* row margins */

/* banner */
.banner .img {
  background-image: url('../public/images/overlay-img.jpg');
  width: 100%;
  background-size: cover;
  height: calc(100vh - 68px)
}

.banner .cover {
  width: 100%;
  height: 100%;
  background: rgb(1 0 39 / 90%)
}

.banner .cover section {
  transform: translate(0, 50%);
  display: block;
  width: 100%
}

.banner h1, .banner p {
  color: #fff
}

.banner a button {
  margin: 0 10px 0 0;
  min-width: 125px;
  padding: .7rem
}

.banner a { text-decoration: none }
 
.btn_srvs { background-color: transparent }

.btn_srvs:hover { background-color: #007bff }

/* overview */
.overview { padding-bottom: 5rem }
.overview .btn_srvs a {
  color: #007bff;
  text-decoration: none
}

.overview .btn_srvs:hover a { color: #fff }

.overview img { max-width: 100% }

.overview .column { align-items: center }

.overview .column img { width: 20vw }

/* Our value */
.our_value {
  background-color: #001130;
  padding: 5rem 0 3.5rem;
  color: #fff;
  text-align: center
}

.our_value h6 { font-weight: 700; margin-top: 1rem }
.our_value h6 + p { margin-bottom: 1rem; font-size: .9rem }

/* free service */
.free_service { text-align: center }

.free_service .cover{ padding: 5rem 0 }

.free_service .img{
  background-image: url('../public/images/overlayII.jpg');
  height: initial
}

.free_service h4 { color: #fff }

/* Testemonials */

.testemonials { margin-bottom: calc(3rem - 15px) } 

.testemonials .card {
  height: 100%;
  text-align: center;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 1.5rem;
  justify-content: start;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px #cdcdcd;
  border: 0
}

.testemonials .card:hover { transform: translate(0, -10px) }

.testemonials h4 { text-align: center }

.testemonials h5, .testemonials p { width: 100% }

.testemonials h5, .testemonials p, .testemonials small { text-align: left }

/* Slider */
.whattheysay img {
  width: 140px;
  filter: grayscale(1)
}

.whattheysay img:hover {
  filter: unset;
  cursor: pointer;
  transform: scale(1.2)
}

.slider .slide_track:hover { 
  animation-play-state: paused;
}

.whattheysay {
	width: 100%;
  background: #fff70012;
  background:#fff;
  margin-top: 200px;
  margin-top: 40px;
  margin-bottom: 40px
}

.whattheysay h4 { text-align: center }

.slider {
	background: transparent !important;
	box-shadow: unset;
	height: auto;
	margin: auto;
	overflow: hidden;
	position: relative;
  width: 80%;
}

.slider .slide{
    margin-right: 15px;
    max-width: 50%
}

.slider .slide_track {
	-webkit-animation: scroll 60s linear infinite;
	-ms-animation: scroll 60s linear infinite;
	-moz-animation: scroll 60s linear infinite;
	-o-animation: scroll 60s linear infinite;
	animation: scroll 60s linear infinite;
	/* animation: scroll; */
	display: -webkit-box;
	display: flex;
	width: calc(400px * 8);
	margin-bottom: 80px;
	background: transparent !important;
	height: auto;
}
  
.slider::before, .slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: unset;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
  

/* Teamwork */
.FCard { width: 100%; justify-content: center }
.members h4 { text-align: center }

.members .card {
  display: inline-block;
  margin: 0 0 2rem 0;
  border: 1px solid #cbcbcb;
  max-width: 220px;
  max-height: 300px;
  padding: 0;
  margin: 5px
}

.members .card:hover {
  filter: grayscale(1);
  /* transform: scale(0.9) */
}
.team_imgs {
  width: 100%;
  height: 220px;
  background-size: cover;
  margin: 0;
  border-radius: .25rem .25rem 0 0
}

.members .employee {
  /* background-color: #eee; */
  width: 100%
}

.members .employee h5, .members .employee p {
  width: 100%;
  text-align: center
}

.members .employee h5 {
  margin: .5rem 0 0;
  min-width: 220px
}

.members .employee p {
  margin: 0 0 .5rem
}

@media(max-width: 767px){
  .FCard { text-align: center !important; margin: 5px 0; }
  .card { width: 100% !important }
}


/*  ==== Media ==== */
/* banner */
@media(max-width: 500px){ .banner h1 { font-size: 2rem } }

@media(max-width: 767px){
  .overview .column img { width: 65%; margin: 0 auto }

  .banner .custReverse { flex-direction: column-reverse !important; text-align: center }

  .overview .column { flex-direction: column-reverse }
  /* .overview h4 { font-size: 1rem }
  .overview p { font-size: .8rem } */

  .banner .img { height: calc(100vh) }
  .banner .cover section { 
    transform: translate(0);
    margin-top: 10%
  }

  .members .card {
    min-width: 220px;
    max-height: 300px;
  }

  .members .employee h5 {
    font-size: 16px;
    max-width: 220px;
    min-width: unset;
  }

  .members .employee p {
    max-width: 220px;
    min-width: unset;
  }
  .members p { font-size: 12px }
  .employee { padding: 5px }
  .team_imgs { height: 220px }

  .banner .custReverse {
    transform: translate(0, 50%)
  }

  .free_service .img { height: initial }

}

@media(max-width:767px) and (max-height: 768px) {
  .banner .custReverse {
    transform: translate(0, 25%)
  }
}


/* Parteners */
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    -moz-transform: translateX(calc(-250px * 7));
    -ms-transform: translateX(calc(-250px * 7));
    -o-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}



